body {
  overflow: hidden;
}

.dashboard {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 100vh;

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: 20%;
    padding: 60px 100px 24px;

    background: linear-gradient(180deg, #00000000 0%, #00000080 50%),
                url('../images/background.png');
    background-size: cover;
    background-position: center;

    .header__txt {
      color: #FAFAFA;
    }
  }

  form {
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
  }
}


.listCard {
  overflow-y: scroll;
}
